.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.animals {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.add-button {
    margin-bottom: 20px;
}